.model {
    empty-cells: show;
    border-collapse: collapse;
    margin-bottom: .5ex;
    border: 1px solid black;
    width: 100%;
}

.model th {
    padding: 3px;
    border: 1px solid #404040;
    text-align: center;
    font-weight: bold;
}

.model td {
    padding: 5px;
    border: 1px solid #404040;
    text-align: left;
}

.ex_title {
    margin-top: 2rem;
    font-style: italic;
    color: #005A9C;
}
